@model OryxWestAfrica.Models.Gallery

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Gallery</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GalleryName" class="control-label"></label>
                <input asp-for="GalleryName" class="form-control" />
                <span asp-validation-for="GalleryName" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Differentiator" class="control-label"></label>
                <input asp-for="Differentiator" class="form-control" />
                <span asp-validation-for="Differentiator" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

