@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>


<section class="section-divider textdivider divider6">
    <div class="container" id="contactus">
        <h1>
            Contact Us
        </h1>
        <hr />
        <p>
            101B, Ikeja Way, Dolphin Estate,Ikoyi, Lagos.
        </p>
        <p>
            Email : info@oryx-wa.com
        </p>
        <p>
            +234-703-180-6379, +234-706-462-0664, 01-463-0603
        </p>
        <p>
            <a class="icon icon-facebook" href="https://www.facebook.com/Oryx-West-Africa-291623575373/?ref=bookmarks">
            </a>
            |
            <a class="icon icon-twitter" href="https://twitter.com/Oryxwa">
            </a>
            |
            <a class="fa fa-linkedin" href="https://www.linkedin.com/company/2064773?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A2064773%2Cidx%3A2-1-2%2CtarId%3A1454404325582%2Ctas%3Aoryx%20computer">
            </a>
            |
            <a class="icon icon-instagram" href="https://www.instagram.com/oryxwestafrica/">
            </a>
        </p>
    </div>
</section>

@*html tags for solution*@
<div class="container">
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="blue-grey lighten-4 black-text darken-text-2 center">
        <div>
        <p><h3>OUR SOLUTIONS</h3> </p>


        <h1>
            Contact Us
        </h1>
        <hr />
        <p>
            101B, Ikeja Way, Dolphin Estate,Ikoyi, Lagos.
        </p>
        <p>
            Email : info@oryx-wa.com
        </p>
        <p>
            +234-703-180-6379, +234-706-462-0664, 01-463-0603
        </p>
        <p>
            <a href="https://www.facebook.com/Oryx-West-Africa-291623575373/?ref=bookmarks">
            </a>
            |
            <a href="https://twitter.com/Oryxwa">
            </a>
            |
            <a href="https://www.linkedin.com/company/2064773?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A2064773%2Cidx%3A2-1-2%2CtarId%3A1454404325582%2Ctas%3Aoryx%20computer">
            </a>
            |
            <a href="https://www.instagram.com/oryxwestafrica/">
            </a>
        </p>
    </div>
</div>
</div>