@{
    ViewData["Title"] = "Home Page";
}

@*slide from home page*@
<div class="carousel carousel-slider center">
    <div class="carousel-fixed-item center">
        <a class="btn waves-effect white grey-text darken-text-2">button</a>
    </div>
    <div class="carousel-item red white-text" href="#one!">
        <h2>First Panel</h2>
        <p class="white-text">This is your first panel</p>
    </div>
    <div class="carousel-item amber white-text" href="#two!">
        <h2>Second Panel</h2>
        <p class="white-text">This is your second panel</p>
    </div>
    <div class="carousel-item green white-text" href="#three!">
        <h2>Third Panel</h2>
        <p class="white-text">This is your third panel</p>
    </div>
    <div class="carousel-item blue white-text" href="#four!">
        <h2>Fourth Panel</h2>
        <p class="white-text">This is your fourth panel</p>
    </div>
</div>

<div class="row blue-grey lighten-2">

    <div class="col l3 s12 center-align">
        <p><i class="small material-icons center-align">work</i></p>
        <p><h5>INNOVATION SOLUTION</h5></p>
        <p>
            Capital isn't so important in business, Experience isn't so important either. What is important is Ideas. You can get both these things. And we can do this at Oryx.
        </p>
    </div>
    <div class="col l3 s12 center-align">
        <p><i class="small material-icons center-align">flash_on</i></p>
        <p><h5>ON TIME IMPLEMENTATION</h5></p>
        <p>
            A good idea is about ten percent while implementation and hard work 90 percent. That's why we work on perfect timing with our customers.
        </p>
    </div>
    <div class="col l3 s12 center-align">
        <p><i class="small material-icons center-align">beenhere</i></p>
        <p><h5>READY TO GO</h5></p>
        <p>
            Together we will develop a plan, roadmap or blueprint, to help you from where you are today, to where you want to be tomorrow.
        </p>
    </div>
    <div class="col l3 s12 center-align">
        <p><i class="small material-icons center-align">accessibility</i></p>
        <p><h5>EASY TO USE </h5></p>
        <p>
            Our Products Are Flexible and Easy To Use.
        </p>
    </div>
</div>










<div class="container">
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="blue-grey lighten-4 black-text darken-text-2 center">
        <div></div>
        <p><h3>Who We Are</h3> </p>
    </div>
    <div class="row">

        <div class="col l6 m6 s12">
            <p>
                Oryx West Africa is a business consultancy firm. Oryx started as a joint venture in the
                year 2004 with a local software company called Soft Solution Nigeria Limited and Oryx UK.
                We started with the sale and implementation of an accounting solution- SSL accounts and later
                brought SAP Business One to Africa.
                The first implementation was at GMT Nigeria Limited.
            </p>
            <p>
                Since inception in 2004, Oryx has earned the loyalty of her customers and the respect of her
                peers. Having the highest number of successful Business Management solutions deployment for SMEs,
                she has distinguished herself as a highly skilled business solutions consultant, using the power
                of information technology to drive businesses to seamless process integration and increased
                productivity.
            </p>
        </div>
        <div class="col l6 m6 s12">
            <p>
                We serve growing companies across the West African states. Our client base of over 100
                companies and counting in our twelve years of business is testimony to our commitment to
                help businesses succeed. Our passion is the 360 turnaround of businesses to profitability
                using world-class business solutions incorporated with best practice.
            </p>

        </div>

    </div>


    @*div tag for vision and mission*@
    <div class="blue-grey lighten-5">
        <div class="row">

            <div class="col l4 m6 s12">
                <p><h5><i class="small material-icons center-align">work</i>Our vision </h5></p>
                <p>“Oryx is an innovative business solutions provider that will exceed expectations and set new standards. Our vision is to grow a team in order to offer a broad range of business solutions to our Clients in all the areas of works such as Public Sectors, Oil and Gas, Logistics, Food and Beverages, Engineering Construction and Operations, Advertisement, Wholesale distribution, Pharmaceuticals and more.” </p>
            </div>
            <div class="col l4 m6 s12">
                <p><h5><i class="small material-icons center-align">work</i>The Oryx Advantage</h5></p>
                <ul>
                    <li>Market leader in Business Management Solutions in West Africa </li>
                    <li>Fastest growing Partner with world class OEMs in the SME Market space</li>
                    <li>Preferred Partner for companies desiring tailor-made business solutions</li>
                    <li>Seasoned Technical Consultants with vast consulting experience across various sectors.</li>
                </ul>
            </div>
            <div class="col l4 m6 s12">
                <p>
                    <img src="~/images/handshakes.jpg" alt="An image in to loading" class="responsive-img" />
                </p>
            </div>

        </div>
    </div>
</div>







