
@{
    ViewData["Title"] = "Partner";
}



@*div tag for Our Partners*@
<div class="container">
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="blue-grey lighten-4 black-text darken-text-2 center">

        <p><h3>OUR PARTNERS</h3> </p>
    </div>
    <div class="row">

        <div class="col l6 m6 s12">
            <p>
                <img src="~/images/handshakes.jpg" alt="An image in to loading" class="responsive-img" />
            </p>

        </div>
        <div class="col l6 m6 s12">
            <p>
                We serve growing companies across the West African states. Our client base of over 100
                companies and counting in our twelve years of business is testimony to our commitment to
                help businesses succeed. Our passion is the 360 turnaround of businesses to profitability
                using world-class business solutions incorporated with best practice.
            </p>

        </div>
    </div>
    <div class="row">
        <div class="col l6 m6 s12">
            <p>
                <img src="~/images/handshakes.jpg" alt="An image in to loading" class="responsive-img" />
            </p>

        </div>
        <div class="col l6 m6 s12">
            <p>
                We serve growing companies across the West African states. Our client base of over 100
                companies and counting in our twelve years of business is testimony to our commitment to
                help businesses succeed. Our passion is the 360 turnaround of businesses to profitability
                using world-class business solutions incorporated with best practice.
            </p>

        </div>
    </div>

    <div class="row">

        <div class="col l6 m6 s12">
            <p>
                <img src="~/images/handshakes.jpg" alt="An image in to loading" class="responsive-img" />
            </p>

        </div>
        <div class="col l6 m6 s12">
            <p>
                We serve growing companies across the West African states. Our client base of over 100
                companies and counting in our twelve years of business is testimony to our commitment to
                help businesses succeed. Our passion is the 360 turnaround of businesses to profitability
                using world-class business solutions incorporated with best practice.
            </p>

        </div>
    </div>
    <div class="row">
        <div class="col l6 m6 s12">
            <p>
                <img src="~/images/handshakes.jpg" alt="An image in to loading" class="responsive-img" />
            </p>

        </div>
        <div class="col l6 m6 s12">
            <p>
                We serve growing companies across the West African states. Our client base of over 100
                companies and counting in our twelve years of business is testimony to our commitment to
                help businesses succeed. Our passion is the 360 turnaround of businesses to profitability
                using world-class business solutions incorporated with best practice.
            </p>

        </div>
    </div>

    <div class="row">
        <div class="col l6 m6 s12">
            <p>
                <img src="~/images/handshakes.jpg" alt="An image in to loading" class="responsive-img" />
            </p>

        </div>
        <div class="col l6 m6 s12">
            <p>
                We serve growing companies across the West African states. Our client base of over 100
                companies and counting in our twelve years of business is testimony to our commitment to
                help businesses succeed. Our passion is the 360 turnaround of businesses to profitability
                using world-class business solutions incorporated with best practice.
            </p>
            <!-- Modal Trigger -->
            <a class="waves-effect waves-light btn modal-trigger" href="">Click here for more</a>

            <!-- Modal Structure -->
            <div id="modal1" class="modal">
                <div class="modal-content">
                    <h4>Modal Header</h4>
                    <p>A bunch of text</p>
                </div>
            </div>

        </div>

    </div>
</div>


