
@{
    ViewData["Title"] = "Solution";
}


@*html tags for solution*@
<div class="container">
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="blue-grey lighten-4 black-text darken-text-2 center">
        <div></div>
        <p><h3>OUR SOLUTIONS</h3> </p>
    </div>
    <div class="row">

        <div class="col l4 m6 s12">
            <p>
                <img src="~/images/handshakes.jpg" alt="An image in to loading" class="responsive-img" />
            </p>
        </div>
        <div class="col l4 m6 s12">

            <p>
                <img src="~/images/handshakes.jpg" alt="An image in to loading" class="responsive-img" />
            </p>
        </div>
        <div class="col l4 m6 s12">
            <p>
                <img src="~/images/handshakes.jpg" alt="An image in to loading" class="responsive-img" />
            </p>
        </div>


        <div class="col l4 m6 s12">
            <p>
                <img src="~/images/handshakes.jpg" alt="An image in to loading" class="responsive-img" />
            </p>
        </div>
        <div class="col l4 m6 s12">
            <p>
                <img src="~/images/handshakes.jpg" alt="An image in to loading" class="responsive-img" />
            </p>
        </div>
        <div class="col l4 m6 s12">
            <p>
                <img src="~/images/handshakes.jpg" alt="An image in to loading" class="responsive-img" />
            </p>
        </div>


        <div class="col l4 m6 s12">
            <p>
                <img src="~/images/handshakes.jpg" alt="An image in to loading" class="responsive-img" />
            </p>S
        </div>
        <div class="col l4 m6 s12">

            <p>
                <img src="~/images/handshakes.jpg" alt="An image in to loading" class="responsive-img" />
            </p>
        </div>
        <div class="col l4 m6 s12">
            <p>
                <img src="~/images/handshakes.jpg" alt="An image in to loading" class="responsive-img" />
            </p>
        </div>

    </div>

</div>
