@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

@*<h2>@ViewData["Title"]</h2>*@


<div class="container">
    <div class="blue-grey lighten-4 black-text darken-text-2 center">
        <div></div>
        <p><h3>FORGET YOUR PASSWORD</h3></p>
    </div>
    <div class="row grey lighten-5">
        @*Row for the Forget your password form*@
        <div class="col l6 s12">
            <h6>Enter your email.</h6>
            <hr />
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button class="btn waves-effect waves-light" type="submit" name="action">
                   SUBMIT
                    <i class="material-icons right">send</i>
                </button>
            </form>
        </div>
        <div class="col l6 s12 center-align">




        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
