@page
@model LoginModel


<div class="container">
    <div class="blue-grey lighten-4 black-text darken-text-2 center">
        <div></div>
        <p><h3>USER ACCOUNT LOGIN</h3></p>
    </div>
    <div class="row grey lighten-5">
        @*Row for the Login form*@
        <div class="col l6 s12">
            <form method="post">
             
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div>
                        @*<label>
                            <input asp-for="Input.RememberMe" type="checkbox" checked="checked" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>*@
                        <p>
                            <label>
                                <input asp-for="Input.RememberMe" type="checkbox" checked="checked" />
                                <span>RememberMe</span>
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    @*<button type="submit" class="btn btn-default">Login</button>*@
                    <button class="btn waves-effect waves-light" type="submit" name="action">
                        LOGIN
                        <i class="material-icons right">send</i>
                    </button>
                </div>
                <div class="form-group">
                    <p>
                        <a asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                </div>
            </form>
        </div>
        <div class="col l6 s12 center-align">

           

           
        </div>
    </div>
</div>




    
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
