@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

@*<header>
    <h1>@ViewData["Title"]</h1>
    <p>You have successfully logged out of the application.</p>
</header>*@
<div class="container">
    <div></div>
    <p><h5 class="center blue-grey lighten-4 black-text darken-text-2">LOG OUT</h5></p>

    <div class="row">
        <div></div>
        <p><h5 class="grey lighten-5">You have successfully logged out of the application.</h5></p>
    </div>

</div>